@import url("http://fonts.googleapis.com/css?family=Lato");
.color-primary-0 {
  background-color: #2c4870;
}
.color-primary-1 {
  background-color: #758aa8;
}
.color-primary-2 {
  background-color: #4c668c;
}
.color-primary-3 {
  background-color: #142e54;
}
.color-primary-4 {
  background-color: #051a38;
}
body {
  font-family: "Lato";
}
h2 {
  margin: 10px 0;
  font-size: 24px;
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
.flash {
  text-align: center;
}
.gallows {
  height: 300px;
  position: relative;
  background-color: #2c4870;
}
.gallows div {
  position: absolute;
}
.head {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: #000 solid 3px;
}
.body {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-left: #000 solid 3px;
  height: 100px;
}
.left-arm {
  top: 120px;
  border-left: #000 solid 3px;
  height: 45px;
  transform: rotate(67deg) translatey(-20px);
  left: 50%;
}
.right-arm {
  top: 120px;
  border-left: #000 solid 3px;
  height: 45px;
  transform: rotate(287deg) translatey(-25px);
  left: 50%;
}
.right-leg {
  top: 195px;
  border-left: #000 solid 3px;
  height: 50px;
  transform: translateX(10px) rotate(-30deg);
  left: 50%;
}
.left-leg {
  top: 195px;
  border-left: #000 solid 3px;
  height: 50px;
  transform: translateX(-13px) rotate(30deg);
  left: 50%;
}
.death {
  top: 60px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%) rotate(90deg);
  color: #000;
}
.win {
  top: 60px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%) rotate(90deg);
  color: #000;
}
.flash {
  height: 50px;
  margin: 1rem;
}
.letters {
  margin-top: 50px;
}
.hanger {
  height: 125px;
  border-left: solid #000 3px;
  transform: rotate(90deg);
  left: 54%;
  top: -36px;
}
.post {
  height: 246px;
  border-left: #000 solid 3px;
  top: 25px;
  left: 65%;
}
.base {
  border-bottom: #000 solid 3px;
  width: 173px;
  top: 268px;
  left: 35%;
}
.btn-outline-info {
  margin-left: 0.5rem;
}
